.change-password-container {
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
}

.change-password-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.change-password-form-col-3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.change-password-form-col-3 div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.change-password-form-col-3 div {
  width: 33%;
}

.change-password-form label {
  font-size: 0.75rem;
  font-weight: bolder;
}

.change-password-form input {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
}

.change-password-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.change-password-button {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  color: #fff;
  background-color: #3577f1;
  cursor: pointer;
}

.login-history-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.login-history-header small {
  color: #4b38b3;
  cursor: pointer;
}

.login-history-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.login-history-content div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
  color: #212121 !important;
}

.login-history-content div li {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.login-history-content div li div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  border: none;
}

.login-history-content div li svg {
  font-size: 3rem;
  color: #fff;
  padding: 0.5rem;
  background-color: #45cb85;
  border-radius: 0.25rem;
}

.login-history-content div:last-child li svg {
  background-color: #f06548;
}

.login-history-content div small {
  padding: 0.5rem 1rem;
  background-color: #3577f150;
  border-radius: 0.25rem;
  margin-right: 1rem;
  cursor: pointer;
}
