.experience-container {
  padding: 1rem;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
}

.experience-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.experience-form-col-1,
.experience-form-col-3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.experience-form-col-1 div,
.experience-form-col-3 div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-form-col-1 div {
  width: 100%;
}

.experience-form-col-3 div {
  width: 33%;
}

.experience-form label {
  font-size: 0.75rem;
  font-weight: bolder;
}

.experience-form input,
.experience-form textarea {
  padding: 0.5rem;
  outline: none;
  border: 1px solid #f0f0f0;
  border-radius: 0.25rem;
}

.experience-form textarea {
  resize: none;
}

.experience-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.experience-actions button {
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  color: #fff;
}

.experience-update-button {
  background-color: #3577f1;
}

.experience-add-new-button {
  background-color: #45cb85;
}

.experience-delete-button {
  background-color: #f06548;
}
